main/python/__pycache__/__init__.cpython-312.pyc
main/python/__pycache__/db.cpython-312.pyc
main/python/__pycache__/init_db.cpython-312.pyc
main/python/auth/__pycache__/__init__.cpython-312.pyc
main/python/auth/__pycache__/data.cpython-312.pyc
main/python/auth/__pycache__/routes.cpython-312.pyc
main/python/auth/__pycache__/tools.cpython-312.pyc
main/python/create/__pycache__/__init__.cpython-312.pyc
main/python/create/__pycache__/dataGroup.cpython-312.pyc
main/python/create/__pycache__/routes.cpython-312.pyc
main/python/display/__pycache__/routes.cpython-310.pyc
