<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/img/favicon.ico') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Association</title>
</head>
<body>
    <header>
        <h1>Bienvenue sur Ma Page d'Accueil</h1>
    </header>
    
    <nav>
        <ul>
            <li><a href="#accueil">Accueil</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>

    <main>
        <section id="accueil">
            <h2>Accueil</h2>
            <p>Bienvenue sur notre site web. Nous sommes ravis de vous accueillir ici !</p>
        </section>

        <section id="services">
            <h2>Nos Services</h2>
            <ul>
                <li><a href="/register">Ajout de membre</a></li>
                <li><a href="/createGroup">Ajout de groupe</a></li>
                <li><a href="/addMatos">Ajout de materiel</a></li>
            </ul>
        </section>

        <section id="contact">
            <h2>Contact</h2>
            <p>Email : contact@example.com</p>
            <p>Téléphone : +33 1 23 45 67 89</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Ma Page d'Accueil. Tous droits réservés.</p>
    </footer>
</body>
</html>