<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/home.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/img/favicon.ico') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Association</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header>
        <h1>Bienvenue sur Ma Page d'Accueil</h1>
    </header>
    
    <nav style="
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;">
        <ul>
            <li><a href="#accueil">Accueil</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <ul>
            <button class="btn" style="width: auto;" onclick="location.href='http://localhost:5000/auth/logout'"><i class="fa fa-sign-out"></i> Déconnexion</button>
        </ul>
    </nav>

    <main>
        <section id="accueil">
            <h2>Accueil</h2>
            <p>Bienvenue sur notre site web. Nous sommes ravis de vous accueillir ici !</p>
        </section>

        <section id="services">
            <h2>Nos Services</h2>
            <div style="display: flex; flex-direction:row;">
                <button class="btn" onclick="location.href='http://localhost:5000/create/user'"><i class="fa fa-plus"></i> <i class="fa fa-user"></i><br>Membre</button>
                <button class="btn" onclick="location.href='http://localhost:5000/create/group'"><i class="fa fa-plus"></i> <i class="fa fa-users"></i><br>Ajout Groupe</button>
                <button class="btn" onclick="location.href='http://localhost:5000/create/matos'"><i class="fa fa-plus"></i> <i class="fa fa-archive"></i><br>Ajout Matériel</button>
                <button class="btn" onclick="location.href='http://localhost:5000/command/create'"><i class="fa fa-dollar"></i><br>Commander</button>
                <button class="btn" onclick="location.href='http://localhost:5000/see'"><i class="fa fa-search"></i><br>Consulter la base</button>
            </div>
        </section>

        <section id="contact">
            <h2>Contact</h2>
            <p>Email : contact@example.com</p>
            <p>Téléphone : +33 1 23 45 67 89</p>
        </section>
    </main>
</body>
</html>